@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");
:root {
	--bg: #ebebeb;
	--bg-alt: #f6f6f6;
	--bd-primary: #dddddd;
	--color: #7e7e7e;
	--neutral-alt: #ffffff;
	--neutral: #2d2d2d;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* display: grid;
	place-items: center; */
	background: var(--bg);
}
.title {
	margin: 10px 0;
}
.sub-title {
	margin-bottom: 10px;
}

.main {
	border: 8px solid var(--bd-primary);
	border-radius: 24px;
	overflow: hidden;
}
.name {
	display: flex;
	font-size: 32px;
	font-weight: 700;
	padding: 8px 16px;
	color: var(--color);
	background-color: var(--bg);
}
.name > span {
	color: #bbb;
}
.name-input {
	font-size: 24px;
	font-weight: 700;
	color: var(--color);
	flex-grow: 1;
	border: none;
	margin: 0px 12px;
	outline: none;
	background: var(--bg);
}
.message-container {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-alt);
	width: 400px;
	height: 450px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.message-left,
.message-right {
	list-style: none;
	padding: 8px 12px;
	margin: 12px;
	max-width: 250px;
	font-size: 14px;
	word-wrap: break-word;
}
.message-left {
	border-radius: 20px 20px 20px 0px;
	align-self: flex-start;
	background-color: var(--neutral-al);
	box-shadow: -2px 2px 5px var(--bd-primary);
}
.message-right {
	border-radius: 20px 20px 0px 20px;
	align-self: flex-end;
	background-color: var(--neutral);
	box-shadow: -2px 2px 5px var(--bd-primary);
	color: var(--bg-alt);
}
.message-left > p > span,
.message-right > p > span {
	display: block;
	font-style: italic;
	font-size: 10px;
	margin-top: 4px;
}

.feedback {
	font-style: italic;
	font-size: 14;
	padding: 0px 16px 16px 16px;
	margin: 0px 12px;
	color: var(--neutral);
	text-align: center;
}
.message-form {
	display: flex;
	justify-content: space-between;
	width: 400px;
}
.message-input {
	flex-grow: 1;
	height: 48px;
	font-size: 16px;
	border: none;
	outline: none;
	padding: 12px;
	background-color: var(--neutral-alt);
}
.send-button {
	height: 48px;
	font-size: 16px;
	border: none;
	border-left: 2px solid var(--bg-alt);
	outline: none;
	padding: 20px;
	background-color: var(--neutral-alt);
	cursor: pointer;
}
.clients-total {
	margin: 20px 0px;
	color: var(--color);
}
